APP__URL_BASE_PATHNAME="/ru-budget-tracker/"
DATABASE__DIRECTORY="data"
DATABASE__FILE_NAME="budget.db"
IMPORTER__DEEPL_API_KEY=...
IMPORTER__NEXTCLOUD_DOWNLOAD_LINK=...
IMPORTER__ARCHIVE_OUTPUT_PATH="/tmp/ru_budget_raw.zip"
IMPORTER__EXTRACT_OUTPUT_PATH="/app/src/data/import_files"
